<h3 class="subtitle">Hello I am Arnel Umandap Jr.</h3>
<p class="short-desc">
  A frontend web developer with 9 years of professional experience. Lorem ipsum
  dolor sit amet consectetur adipisicing elit. Consequatur suscipit quis ea
  repellendus ex eligendi ad aliquid nisi aspernatur delectus. Optio officia
  harum magni, earum quibusdam tenetur ipsum possimus fuga fugit nemo quas?
  Esse, quis! Similique deserunt facere et quisquam, impedit commodi, ipsam
  consequatur at dolore dolor blanditiis assumenda veniam distinctio autem
  tempora aliquid reprehenderit eaque recusandae? In aliquid esse ut, quo
  perferendis architecto tempore delectus aut earum voluptatum laudantium dicta
  corporis asperiores facere quasi? Ipsam in iusto sunt, similique a officiis?
  Nihil repellendus veniam doloribus provident repudiandae necessitatibus
  accusantium corporis dignissimos neque. Quos voluptates omnis quae pariatur,
  commodi odio?
</p>
